@tailwind base;
@tailwind components;
@tailwind utilities;

.ei {
  --tw-drop-shadow: drop-shadow(25px 40px 100px rgba(0, 0, 0, 0.021));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.ii {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
